:global(html) {
	--color-bg: #1a1c1c;

	--color-block: #262828;
	--color-block-accent: #323535;

	--color-primary: #009489;
	--color-primary-accent: #00867c;

	--color-error: #ff1470;

	--color-text: #eee;
}