:global(html) {
	--color-bg: #1d1b1d;

	--color-bg-accent: #211f21;

	--color-block: #262325;
	--color-block-accent: #2e2b2e;

	--color-primary: #b13aaa;
	--color-primary-accent: #a1359b;

	--color-text: #eee;
}