:global(html) {
	--color-bg: #171719;

	--color-bg-accent: #1f1f21;

	--color-block: #1b1b1d;
	--color-block-accent: #232325;

	--color-bright: #28282a;
	--color-bright-accent: #303033;

	--color-primary: #309fa4;
	--color-primary-accent: #268387;

	--color-red: #e22566;

	--color-text: #eee;
}