@mixin input {
	label {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		font-size: 1rem;

		&.inline {
			flex-direction: row-reverse;
			align-items: center;
			justify-content: left;
		}
	}

	input, select {
		font-size: inherit;
		color: inherit;
		border-radius: 8px;
		border: 2px solid transparent;
		padding: 0.4rem 0.8rem;
		background-color: var(--color-block-accent);

		transition: border 0.2s;

		&::placeholder {
			opacity: 0.6;
			color: var(--color-text);
		}

		&:focus {
			border-color: var(--color-primary);
			outline: 0;
		}
	}
}